<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="settingsReadDirectory" value="..\..\..\TestDir1"/>
    <add key="settingsCompareDirectory" value="..\..\..\TestDir2"/>
    <add key="settingsMoveMatchDirectory" value="..\..\..\TestDir3"/>
    <add key="settingsMoveNoMatchDirectory" value="..\..\..\TestDir4"/>
    <add key="settingsFileExtension" value="txt"/>
  </appSettings>
</configuration>